{% extends "base.html" %}

{% load jmbo_inclusion_tags jmbo_template_tags %}
{% load comments likes_inclusion_tags moderator_inclusion_tags %}
{% load livechat_tags mama_inclusion_tags %}

{% block content %}

<div class="text_banner maroon">
  <div class="h1">LIVE CHAT ARCHIVE</div>
    <div class="items">
      {% if livechats %}
        {% for livechat in livechats.object_list %}
            <div class="banner_content live_chat">
            <div>
            <strong>{{ livechat.title }}<br/></strong>
            {{ livechat.expert }}<br/>
            {{ livechat.chat_starts_at.time }} on {{ livechat.chat_starts_at.date }}<br/>
            </div>
            </div>
            {% for comment in livechat.comment_set %}
            {% if comment.livechatresponse_set.exists %}
            <div class="item comment no-pic">
              <div class="meta">

                <b>{{ comment.name }}</b> asked at {{ comment.submit_date.time }}
                <div class="stamp">{{ comment.comment|linebreaks }}</div>
              </div>

              <div class="item comment" style="background-color: rgb(244, 229, 234)">
                  {% for response in comment.livechatresponse_set.all %}
                      <div class="meta">
                        <b>{{ response.author.first_name }} {{ response.author.last_name }}</b>
                        replied to
                        <b>{{ comment.name }}</b> at {{ response.updated_at.time }}
                        <div class="stamp">{{ response.response }}</div>
                      </div>

                  {% endfor %}
              </div>
              {% endif %}
             {% endfor %}
            </div>
        {% endfor %}

        <div class="pagination">
          {% if livechats.has_previous %}
              <span><a href="?p={{livechats.previous_page_number}}&amp;answered={{answered}}&amp;popular={{popular}}">Previous</a></span> |
          {% else %}
              <span>Previous</span> |
          {% endif %}
          <span class="current">
              Page {{ livechats.number }} of {{ livechats.paginator.num_pages }}
          </span>
          {% if livechats.has_next %}
              | <span><a href="?p={{livechats.next_page_number}}&amp;answered={{answered}}&amp;popular={{popular}}">Next</a></span>
          {% else %}
              | <span>Next</span>
          {% endif %}
        </div>
      {% else %}
        <div class="post">
          No questions yet. Go ahead and ask a question.
        </div>
      {% endif %}
    </div>

  </div>
</div>
{% endblock %}
{% block footer_search_form %}
            <div class="h1">Search</div>
            <form id="frmSearch" method="get" action="{% url haystack_search_askmama %}">
                <div class="row"><input type="text" name="q" value="{{ query }}" class="short" /></div>
                <div class="row"><input type="submit" name="submit" value="Search" class="btn" /></div>
                <div class="clear"></div>
            </form>
{% endblock %}